body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.filters {
  display: flex;
  gap:10px;
  padding: 20px;
}
.filter {
  width: fit-content;
  padding: 10px;
  border:1px solid black;
}
.filter.active {
  border:1px solid red;
}
.tab {
  padding:30px;
}
.tab.hidden {
  display: none;
}
.pin {
  padding: 10px;
  border:1px soldi black;
  margin:5px;
}
.pin.active {
  border:1px solid red;
}
.shop-item {
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  gap:10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.shop-item img {
  order: -1;
  width: 100px;
  height: auto;
}
.shop-items.module {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px;
}
.shop-items.module .shop-item {
  flex-direction: column;
}
.shop-items.module img {
  order:initial;
}
.material-icons {
  margin-bottom: 30px;
}